* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

:root {
    --fundo: #101728;
    --btnColor1: #1f41bb;
    --black: #000000;
    --btnColor2: #9340ff;
    --fontClara: #ffffff;
    --fontEscura: #0f1819;

    --font-family: 'DM Sans', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--fontClara);

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: block;
}

.rootBar {
    display: none;
    cursor: pointer;
    margin-right: 1rem;

}

#itensMenu {
    display: none;
    width: 5rem;

}

#itensMenu a {
    text-decoration: none;
    color: var(--black);
}

#itensMenu a:hover {
    color: var(--btnColor1);
}

#itensMenu li {
    list-style: none;
    margin-top: 1rem;
}

.menu a {
    text-decoration: none;
    margin-right: 1rem;
    color: var(--fontEscura);
    padding: 1rem;
}

.menu a:hover {
    color: var(--btnColor1);
}

#inicio .text h1 {
    width: 25rem;
}

#inicio .text,
.face {
    margin-top: 5rem;
}

.logo {
    width: 30%;
}

.logo img {
    width: 100%;
}


header {
    position: relative;
    padding: 10% 15% 15%;
    width: 100%;
}

#inicio,
#sobre {

    width: 100%;
    height: 40rem;
    justify-content: space-between;
    display: flex;
}


#sobre,
#contato {

    color: var(--fontClara);
    background-color: var(--fontEscura);
}


#sobre .text,
.redesSociais {
    margin-top: 1.25rem;
}

#sobre .text h1,
#sobre .text h1 h2 {
    padding-top: 1rem;
    width: 25rem;
}

#sobre .text h1 {
    padding-bottom: 2rem;
}

#sobre .text h2 {
    padding-bottom: 1rem;
}

#sobre .text li {
    padding-bottom: 0.25rem;
}

#sobre .text p {

    width: 29rem;
}

#sobre .text .react {
    margin-left: 1rem;
}

.meusProjetos {
    display: grid;
    grid-template-columns: repeat(3, 19rem);
}

.projeto {
    width: 16rem;
    height: 10rem;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: #0f1819;
    border-radius: 1rem;
}

.projeto a {
    width: 100%;
    height: 100%;
}

.face img {
    width: 20rem;
    height: 20rem;
    margin-left: 2rem;
    border-radius: 2.5rem;
    box-shadow: 0.5rem 2rem 3rem var(--fundo);

}

h1 {
    padding-bottom: 2rem;
}


#sobre p {
    width: 25rem;
}

.redesSociais h1 {
    padding-top: 1rem;
    left: 2rem;
    padding-bottom: 2rem;
}

.imgRedesSociais {
    display: flex;
    padding: 2rem 6rem;
    gap: 2rem;
    align-content: center;
}

.imgRedesSociais img:hover {
    width: 60px;
    height: 60px;
    transition: 1s;
}

.curriculo {
    margin-top: 4rem;
}

.curriculo a {

    padding: 1rem;
    color: var(--fontClara);
    background-image: linear-gradient(to right, var(--btnColor1), var(--fundo), var(--fontEscura));
    text-decoration: none;
    border-radius: 1rem;
    border: solid 1px var(--fontClara);
}

.curriculo a:hover,
.linkProjeto a:hover {
    background-image: linear-gradient(to right, var(--btnColor1), var(--fundo));
    transition: 1s;
}


#contato .text {
    margin-left: 9rem;
    width: 40rem;
    text-align: center;

}

#contato {
    height: 30rem;
}


#contato .imgRedesSociais {
    margin-left: 13rem;
}





@media (max-width:1100px) {
    header {
        padding: 5rem 6rem 20rem 6rem;
    }


    #sobre .text p {

        width: 25rem;
    }

    #contato .text {
        margin-left: 10rem;
        width: 35rem;
        text-align: center;

    }

    #contato .imgRedesSociais {
        margin-left: 12.5rem;
    }

}



@media (max-width:900px) {
    .redesSociais {
        width: 20rem;

    }

    #sobre p {
        width: 100%
    }

    .face img {
        width: 17.5rem;
        height: 17.5rem;

    }

    .meusProjetos {
        grid-template-columns: repeat(2, 20rem);
    }

    .logo img {
        width: 120%;
    }


}


@media (max-width:800px) {

    #contato .text {
        margin-left: 0.1rem;
        width: 100%;

    }

    #contato .imgRedesSociais {
        margin-left: 2.25rem;
    }

    #inicio .text h1 {
        width: 17.5rem;
    }

    .face img {
        width: 15rem;
        height: 15rem;

    }

    .logo img {
        width: 140%;
    }

    #sobre {
        display: block;
        height: 52.5rem;
    }

    .menu {
        display: none;
    }

    .rootBar {
        display: block;
    }


}

@media (max-width: 650px) {
    #contato .imgRedesSociais {
        margin-left: 4rem;
        padding: 2rem 0;
    }

    .meusProjetos {
        display: block;
    }

    .face img {
        width: 12.5rem;
        height: 12.5rem;

    }

    header {
        padding: 5rem 3rem 20rem 3rem;
    }

    .face img {
        width: 10rem;
        height: 10rem;

    }

    .logo img {
        width: 160%;
    }
}

@media (max-width: 550px) {
    .face img {
        width: 6rem;
        height: 6rem;
        border-radius: 0.5rem;
        margin-left: -1rem;


    }

    #inicio .text h1 {
        width: 13rem;
    }

    header {
        padding: 5rem 1rem 20rem 1rem;
    }

}

@media (max-width: 450px) {
    .face img {
        margin-left: -2rem;
    }

    #contato .imgRedesSociais {
        margin-left: 1rem;
    }

    #sobre .text {
        width: 50%;
    }
}


@media (max-width: 350px) {

    #sobre .text p,
    #sobre .redesSociais p {
        width: 15rem;
    }

    #sobre {
        height: 57.5rem;
    }

    #contato .imgRedesSociais {
        margin-left: 0.5rem;
    }

    #sobre .imgRedesSociais {
        margin-left: -1.5rem;
    }
}